// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer-nav{
  @include push--auto;
}
.sign-up {
  display: flex;
  width: 100%;
  padding: 10px;
}
.sign-up-form{
  @include push--auto;
}
