// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.hero-image{
  background: url(../img/record-store.jpg);
  background-size: cover;
  height: 40vh;
  max-height: 500px;
}
#hero{

  text-align: center;
}
