// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.hero-image{
  background: url(../img/record-store.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  height: 40vh;
  max-height: 500px;
  position: relative;
    h1, h5{
      @media #{$breakpoint-small}{
        display: none;
      }
    }
}
#hero{
  position: relative;
  text-align: center;
  color: white;
    h1{
      @include font-Bench-Nine;
      @include hero;
      position: absolute;
      top: 20vh;
      left: 15vw;
    }
    h5{
      @include font-Assistant-bold;
      position: absolute;
      top: 29vh;
      left: 16vw;
    }
}
