.logo {
    display: flex;
}
.logo-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    @include aspect-ratio(1,1);
}

.navbar-toggler{
  &:hover{
  background-color: $papaya;
  }
}
.navbar-collapse li{
  @include font-Assistant-bold;
  &:hover{
  background-color: rgba(226, 78, 66, 0.5);
  }
}
.main-nav {
  margin-left: auto;
  margin-right: auto;
  width: auto;
    & ul {
      padding-left: 0px;
      @include font-Assistant-bold;
      & .nav-link {
        color: white;
        text-decoration: none;
        list-style: none;
      }
      & li{
        padding:0  2vw;
      }
    }
}
.secondary-nav {
  justify-content: center;
  font-size: 1.5em;
    & .social i{
      font-size: 1.65em;
    }
  @media #{$breakpoint-medium}{
    font-size: 1em;
  }
  @media #{$breakpoint-large}{
    font-size: 1.35em;
  }
}
.accent-color{
  background-color: $papaya;
}
