
.sidebar{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.widget {
  padding: 1rem;
}
.widget-text{
  @include widget;
}

.widget-img{
  @include widget;
}
.col-text{
  padding:1rem;
  padding-top: 0px;
  @media #{$breakpoint-small} {
    @include truncate(500px);
  }
  @media #{$breakpoint-medium} {
    @include truncate(300px);
  }
  @media #{$breakpoint-large} {
    @include truncate(150px);
  }
}
