
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
header, nav, section, footer{
  width: 100%;
}

img{
  max-width: 100%;
}
h1 {
  text-align: center;
}
li {
  list-style: none;
  display: inline;
}
