
/// Container's maximum width
/// @type Length
$grid-max-width: 1800px !default;

$breakpoint-small: "only screen and (max-width: 767px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 991px)";

// grid variables
$grid-columns: 12;

// colors

$papaya: #E24E42;
$mustard: rgb(233,176,0);
$aqua: #008F95;
$blush: #EB6EBD;
